---
import { comments } from '~/database/schemas';
import { db } from '~/database/client';
import Comment from '~/components/Comment.astro';
import CommentForm from '~/components/CommentForm.astro';
import Document from '~/layouts/Document.astro';

if (Astro.request.method === 'POST') {
	const data = await Astro.request.formData();
	const author = data.get('author');
	const content = data.get('content');
	await db.insert(comments).values({
		author: author as string,
		content: content as string,
	});
}

const cms = await db.query.comments.findMany();
---

<Document>
	<main class='mx-auto my-8 max-w-2xl px-4'>
		<h1 class='mb-6 text-2xl font-bold text-gray-900'>Comments</h1>

		<CommentForm />

		<h2>Server-side rendered comments</h2>
		<ul class='list-none space-y-4'>
			{cms.map((comment) => <Comment comment={comment} />)}
		</ul>

		<h2>Client-side rendered comments</h2>
		<ul class='list-none space-y-4' id='csr-comments'></ul>

		<script>
			import { hc } from 'hono/client';

			import type { App } from '~/pages/api/hono/[...path]';

			const client = hc<App>(window.location.origin);
			const notesResponse = await client.api.hono.comments.$get();
			const { comments } = await notesResponse.json();

			const csrCommentsEl = document.getElementById('csr-comments');
			if (csrCommentsEl)
				csrCommentsEl.innerHTML += comments
					.map(
						(comment) => `<li class='mb-4'>
	<blockquote class='rounded border-l-4 border-gray-300 bg-gray-100 p-4'>
		<p class='text-gray-800'>${comment.content}</p>
		<footer class='mt-2'>
			— <cite class='font-medium'>${comment.author}</cite>
		</footer>
	</blockquote>
</li>
`,
					)
					.join('');
		</script>
	</main>
</Document>
