---
import { Github } from 'lucide-astro';
import { getSession } from 'auth-astro/server';
import { SignIn } from 'auth-astro/components';

import Document from '~/layouts/Document.astro';

const session = await getSession(Astro.request);
if (session) return Astro.redirect('/');
---

<Document title='Login'>
	<main class='mx-auto my-8 max-w-2xl px-4'>
		<h1 class='mb-6 text-2xl font-bold text-gray-900'>Login</h1>

		<SignIn
			class='default-focus default-transition flex items-center justify-center gap-2 rounded px-6 py-3 font-bold text-gray-500 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-800'
			type='button'
			provider='github'
			options={{ callbackUrl: '/' }}
		>
			<Github />
			<span> Sign in with GitHub</span>
		</SignIn>
	</main>
</Document>
