---

---

<form class='mt-8' method='post'>
	<div class='mb-4'>
		<label for='author' class='mb-2 block text-sm font-bold text-gray-700'> Name</label>
		<input
			type='text'
			id='author'
			name='author'
			class='focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none'
			placeholder='Your name'
		/>
	</div>

	<div class='mb-6'>
		<label for='content' class='mb-2 block text-sm font-bold text-gray-700'> Comment</label>
		<textarea
			id='content'
			name='content'
			class='focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none'
			rows='4'
			placeholder='Your comment'></textarea>
	</div>

	<div class='flex items-center justify-between'>
		<button
			type='submit'
			class='default-focus default-transition rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700'
		>
			Submit
		</button>
	</div>
</form>
